.headline {
  min-height: 80vh;
  display: grid;
  place-content: center;
  text-align: center;

  background: rgb(0 0 0 / 0.2);
  padding: 3rem;
}

.container{
  width: 80%;
  margin: 0 auto;
}

nav{
  float:left;
}

header::after{
  content: '';
  display:table;
  clear:both;

}

nav ul{
  margin: 0;
  padding: 0;
  list-style:none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  margin-bottom:20px;
  position: relative;

}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;


}

nav a:hover{

}

.group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

body {
  min-height: 100vh;
  background: hsl(212, 22%, 28%);
  color: hsl(212, 22%, 90%);
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

.more-content {
  text-align: center;
  padding: 3rem;
}

.flex {
  display: flex;
  gap: 1rem;
}




.button {
  text-decoration: none;
  color: hsl(212, 22%, 28%);
  font-weight: 700;
  padding: 0.5em 1.25em;
  border-radius: 0.125em;
  background: hsl(212, 22%, 85%);
}

.button--primary {
  background: hsl(50, 100%, 50%);
}

.btn:hover,
.btn:focus {
  background: hsl(212, 22%, 100%);
}
